<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Almendra+Display&family=Baloo+2&family=Dosis:wght@300&family=Josefin+Sans:ital,wght@1,100&display=swap"
        rel="stylesheet">
    <title>TamaGoShi</title>
    <link rel="stylesheet" href="../assets/css/shinitchi.css">
</head>

<body>
    <header>
        <img src="../assets/img/parasyte_no_background_by_thetokieffect_d8f32h9.png" alt="">
    </header>
    <main>
        <section id="align">
        <button id="btn">Combattre</button>
        <button id="btn2">Dormir</button>
        <button id="btn3">Manger</button>
        <button id="btn4">Jouer</button>
        </section>

        <section id="align">
        <p id="p">Vie : </p><h2 id="vie">40</h2>
        <p>Nourriture :</p><h2 id="food">50</h2>
        <p>fatigue: </p><h2 id="energi">50</h2>
        <p>hummeur : </p><h2 id="hummeur">40</h2>
        </section>
            <h1 id="sh"></h1>
    </main>
    <script src="../assets/js/script.js"></script>
</body>
</html>